/*page size*/
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #f7f6f9;
    }

* {
    box-sizing: border-box;
}

/*nav bar*/
a, ul, li, nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #2c333c;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
font-weight: bolder;
font-size: 25px;
color: #ffffff;
}

header .logo:hover{
    color: #20d5bd;
}

header .navbar .current{
    background-color: #20d5bd;
}

header .navbar ul{
list-style-type: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

header .navbar ul li a:hover{
    background: #20d5bd;
}

header .navbar ul li a .current{
    background-color: #20d5bd;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 170px;
    background: #2c333c;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgb(110, 110, 110);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0px;
}

header .navbar ul li:focus-within > ul{
    display: initial;
}

header .navbar ul li:hover > ul{
    display: initial;
}
/*slideshow*/
#slider {
	overflow: hidden;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}
/*slideshow animation*/
@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

/*product gallery*/
.product_gallery {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  transition: all 0.4s cubic-bezier(0,1.57,.67,1.18);
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #2c333c;
}

.box {
  flex: 1 1 300px;
  background: #f7f6f9;
  border: 1px solid rgba(0,0,0,.3);
  position: relative;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 1px;
}

.box .image {
  padding: 10px;
  background: #f7f6f9;
  text-align: center;
}

.box .image img {
  height: 200px;
  width: 250px;
  object-fit: cover;

}

.box .info .title {
  padding: 10px;
  color: #2c333c;
  font-size: 20px;
}

.box .info .subinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.box .info .subinfo .price {
  color: #1dc0aa;
  font-size: 17px;
}

.box .info .subinfo .price span {
  font-size: 12px;
  color: #96999e;
  text-decoration: line-through;
}

.box .info .subinfo .stars i {
  color: #20d5bd;
  font-size: 15px;
}

.box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 223px;
  width: 100%;
  background: rgb(26, 170, 151,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
  transform: scale(0); 
}

.box:hover .overlay {
  transform: scale(1);
}

.box .overlay a {
  color: #1aaa97;
  background: #f7f6f9;
  margin: 10px;
  padding: 13px 15px;
  transform: translateY(-150px);
  transition-property: transform;
  transition-delay: calc(.1s * var(--i));
}

.box .overlay a:hover {
  color: #20d5bd;
}
.box:hover .overlay a {
transform: translateY(0px);
}

/*footer*/
footer {
  min-height: 120px;
  position: static;
  left:0px;
  bottom:0px;
  width:100%;
  background-color: #2c333c;
  text-align: center;
  padding: 1em;
  top:0;
  bottom:0;
  width: 100%;
}

.footer_content {
  padding-top: 1px;
}

#p_1 {
  font-family: 'Roboto', sans-serif;
  color: #20d5bd;
}

#p_2 {
  font-family: 'Roboto', sans-serif;
  color: #6b7077;
}